.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
}

.square {
  height: 50px;
  width: 50px;
  margin: 1px;
  font-size: 25px;
}

.resetBtn {
  width: 5%;
  margin-left: 37.6rem;
  margin-top: 10px;
}

.winnerText {
  text-align: center;
}